*{
     margin: 0px;
     padding: 0px;
}
::-webkit-scrollbar {
    display: none;
}

body{
     background: rgb(128, 96, 187);
     color: #efefef;
     font-family: cursive;
}

.title{
     text-align: center;
     font-size: 30px;
}

.wrapper{
     width: 96%;
     margin: 4%;
}

section{
     background: rgb(241, 173, 125);
     position: relative;
     display: inline-block;
     width: 30%;
     margin-top: 50px;
     border: 1px solid black;
}

 .one_title, .two_title, .three_title{
      background: rgb(15, 180, 159);
      right: 50px;
      float: right;
      width: 100px;
      text-align: center;
      border-left: 1px solid rgb(20, 88, 238);
      border-bottom: 1px solid rgb(20, 88, 238);
}

.para{
     display: block;
     padding: 10px;
}

.suprise{
     display: none;
}

/*DESKTOP > 992px*/
@media (min-width: 992px) {
     /*SYLING ALL THE SECTIONS*/
     #suprise{
          display: none;
     }
}

/*TABLET 768px > 991px*/
@media (min-width: 768px) and (max-width: 991px) {
     /*SYLING ALL THE SECTIONS*/
     .wrapper{
          width: 95%;
     }
     section{
          width: 48%;
     }

     .two{
          margin-left: 2px;
     }

     .three{
          margin-top:10px;
          display: block;
          width: 97%;
     }

     #suprise{
          display: inline;
     }
}

@media (max-width: 767px) {
     /*PHONE 990px > 767px*/
     .wrapper{
          width: 96%;
          margin: 1.5%;
     }

     section{
          margin-top: 10px;
          width: 100%;
          display: block;
     }

     #suprise{
          display: none;
     }
}
