*{
     margin: 0px;
     padding: 0px;
}

body{
     background: rgb(128, 96, 187);
     color: #efefef;
     font-family: cursive;
     overflow: auto;
}

.title{
     margin: 25px;
     text-align: center;
     font-size: 25px;
}

.wrapper{
     text-align: center;
     display: inline-block;
     margin: -15px;
}

/*DESKTOP > 992px*/
@media (min-width: 992px) {
     /*SYLING ALL THE SECTIONS*/
     section{
          margin-top: 50px;
          width: 25%;
          border: 2px solid black;
          padding: 15px;
          display: inline-block;
          background: rgb(241, 173, 125);
          color: #111;
     }

     .one, .two, .three{
          margin-left: 7px;
     }

     .one_title, .two_title, .three_title{
          position: relative;
          top: -16px;
          right: -16px;
          color: rgb(147, 57, 219);
          float: right;
          padding: 5px;
          border: 1px solid black;
     }

     .para{
          margin-top: 40px;
          text-align: left;
     }
}

/*TABLET 768px > 991px*/
@media (min-width: 768px) and (max-width: 991px) {
     /*SYLING ALL THE SECTIONS*/
     .wrapper{
          margin: 5px;
     }

     section{
          margin-top: 50px;
          width: 45%;
          border: 2px solid black;
          padding: 15px;
          display: inline-block;
          background: rgb(241, 173, 125);
          color: #111;
     }

     .one, .two, {
          margin-left: 7px;
     }

     .three{

          margin-top: 7px;
          width: 94.50%;
          margin-left: 1%;
          display: block;
     }

     .one_title, .two_title, .three_title{
          position: relative;
          top: -16px;
          right: -16px;
          color: rgb(147, 57, 219);
          float: right;
          padding: 5px;
          border: 1px solid black;
     }

     .para{
          margin-top: 40px;
          text-align: left;
     }
}

@media (max-width: 767px) {
     /*PHONE 990px > 767px*/
     .wrapper{
          margin: 5px;
     }

     section{
          margin-top: 10px;
          width: 93.50%;
          margin-left: 1%;
          margin-right: 1%;
          border: 2px solid black;
          padding: 15px;
          display: block;
          background: rgb(241, 173, 125);
          color: #111;
     }

     .one_title, .two_title, .three_title{
          position: relative;
          top: -16px;
          right: -16px;
          color: rgb(147, 57, 219);
          float: right;
          padding: 5px;
          border: 1px solid black;
     }

     .para{
          margin-top: 40px;
          text-align: left;
     }
}
